.history/
.DS_Store
video/static/uploads/frames/*
!video/static/uploads/frames/.keep
!video/static/uploads/frames/processed
!video/static/uploads/frames/raw
video/static/uploads/frames/processed/*
!video/static/uploads/frames/processed/.keep
video/static/uploads/frames/raw/*
!video/static/uploads/frames/raw/.keep
__pycache__/
*.pyc